
# Composer
vendor/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
composer.lock

# Testing / Code Coverage
.phpunit.result.cache
.phpunit.cache/
build/
builds/
coverage/
.php-cs-fixer.cache

# Environment
.env
.env.local
.env.*.local
.DS_Store

# Logs
*.log
